# Supabase 설정 (https://supabase.com 에서 프로젝트 생성 후 값 입력)
VITE_SUPABASE_URL=https://daikqggholumhfxtroln.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImRhaWtxZ2dob2x1bWhmeHRyb2xuIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzI2MzMxNzAsImV4cCI6MjA4ODIwOTE3MH0.IjlfvTiMz7o0fjLzU-CBNtQiit-JY6U4VPHcRX-RRek
